
.header {
    position: fixed;
    width: 200px;
    top: 0;
    margin-top: 50px;
    margin-left: 40px;
  }

  .nameHeader {
      font-size: 50px;
      color: rgb(168, 188, 156);
    }

/* .instagram {
  margin-top: 30px;
} */

.headerLink {
  height: 30px;
  padding-top: 15px;
  margin-top: 30px;
  margin-bottom: 0px;
  font-size: 20px;
}

.headerLink:after {
  display: block;
  content: '';
  width: 70px;
  height: 5px;
  background-image: url(../img/brushstroke.png);
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: bottom left;
  transform: scaleX(0);  
  transition: transform 350ms ease-in-out;
  transform-origin:  0% 50%;
}
  
.headerLink:hover:after { 
  transform: scaleX(1); 
}


