.pageHeader {
    margin-top: 120px;
    margin-left: 300px;
    position: absolute;
    width: calc(100% - 300px);
}

@keyframes slideIn {
    0% {
      transform: scaleX(0);
      transform-origin:  0% 50%;
    }
    30% {
      transform: scaleX(1);
    }
}

.brushStrokeLong {
    /* object-fit: cover; */
    width: 100%;
    height: 10px;
    animation: 3s ease-in-out 0s 1 slideIn
}


